### Visual Code ###
.vscode/


### System Files ###

# General
.DS_Store


### C ###

# Object files
*.o
*.obj

# Libraries
*.lib
*.a

# EXECUTABLES
*.exe
*.out

# cpp00
megaphone
phonebook
account
# cpp01
zombie
horde
brain
weapon
replace
harl

# Compile Results
*.cmd
*.tmp
.tmp_versions/