### Visual Code ###
.vscode/

### System Files ###

# General
.DS_Store

### C ###

# Object files
*.o
*.obj

# Libraries
*.lib
*.a

# EXECUTABLES
*.exe
*.out

# Compile Results
*.cmd
*.tmp
.tmp_versions/

# cpp00
megaphone
phonebook
account

# cpp01
zombie
horde
brain
weapon
replace
harl
harlFilter

# cpp02
fixed0
fixed1
fixed2
bsp

# cpp03
clap
scav
frag
diamond

# cpp04
animal
brain
abstract
materia